{
  "printWidth": 150,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "es5",
  "semi": true,
  "newline-before-return": true,
  "no-duplicate-variable": [
    true,
    "check-parameters"
  ],
  "no-var-keyword": true,
  "overrides": [
    {
      "files": "*.test.js",
      "options": {
        "semi": true
      }
    },
    {
      "files": [
        "*.html",
        "legacy/**/*.js"
      ],
      "options": {
        "printWidth": 150,
        "trailingComma": "all",
        "tabWidth": 2
      }
    }
  ]
}
